html {
    font-family: 'Open Sans';
    color: #b6b6b6;
}
h3.ui.header {
    color: white;
    background-color: #100096;
    left: -30px;
    padding: 5px 15px;
    position: relative;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}
h3.ui.header::before {
    content: '';
    position: absolute;
    top: 36px;
    left: 0px;
    border-width: 5px 7px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #035c8a;
    border-right-color: #035c8a;
}
.ui.list.timeline-list .item {
    padding-left: 1.4em;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.11);
  padding: 20px;
}
.skills-level {
    background-color: #757575;
    height: 10px;
    margin-bottom: 13px;
    border-radius: 0px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.skills-level::before {
    content: "";
    display: block;
    height: 100%;
    background-color: #100096;
    position: absolute;
    left: 0;
    top: 0;
}
.skills-level[aria-level="1"]::before {
  width: 20%;
}
.skills-level[aria-level="2"]::before {
  width: 40%;
}
.skills-level[aria-level="3"]::before {
  width: 60%;
}
.skills-level[aria-level="4"]::before {
  width: 80%;
}
.skills-level[aria-level="5"]::before {
  width: 100%;
}